@import "~bootstrap/scss/bootstrap";
.ticker-0 {
    background-color: #fbe2c3;
    border-bottom: solid 4px #f7931a;
}

.ticker-1 {
    background-color: #c2c9ff;
    border-bottom: solid 4px #454a75;
}

.ticker-2 {
    background-color: #ececec;
    border-bottom: solid 4px #bebebe;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}